.app-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black
}

.table th, td, tr {
  width: 100%;
  border: 1px solid black;
  min-width: 100px;
}
